<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>The Candle Shop</title>
  <link rel="stylesheet" href="../../assets/stylesheets/pages/_home.scss">
</head>

<body>
  <div class="nav">
    <a href="#shop" class="nav-link">shop</a>
    <a href="#" class="nav-title">The Candle Shop</a>
    <a href="bag" class="bag-icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-handbag" viewBox="0 0 16 16">
        <path
          d="M8 1a2 2 0 0 1 2 2v2H6V3a2 2 0 0 1 2-2zm3 4V3a3 3 0 1 0-6 0v2H3.36a1.5 1.5 0 0 0-1.483 1.277L.85 13.13A2.5 2.5 0 0 0 3.322 16h9.355a2.5 2.5 0 0 0 2.473-2.87l-1.028-6.853A1.5 1.5 0 0 0 12.64 5H11zm-1 1v1.5a.5.5 0 0 0 1 0V6h1.639a.5.5 0 0 1 .494.426l1.028 6.851A1.5 1.5 0 0 1 12.678 15H3.322a1.5 1.5 0 0 1-1.483-1.723l1.028-6.851A.5.5 0 0 1 3.36 6H5v1.5a.5.5 0 1 0 1 0V6h4z" />
      </svg>
    </a>
  </div>

  <div class="banner">
    <div class="banner-text">
      <h1 class="banner-title">The Candle Shop</h1>
      <p class="banner-description">a special candle for every moment</p>
      <button class="btn">shop now</button>
    </div>
  </div>

  <div class="about">
    <h2>About the collection</h2>
    <p>
      A fruity-scented candle collection for fun and energizing moments. Made to be enjoyed by yourself or with your
      beloved ones.
    </p>
  </div>

  <div id="shop" class="cards">
    <div class="image-1"><a href="products/cherry-peony.html"><img src="images/00_1600x2000+fill_ffffff.webp"
          width="300px"></a>
      <a href="/products/cherry-peony.html" class="product-link">
        <p>Dark Cherry & Peony</p>
      </a>
      <p>$ 25</p>
    </div>
    <div class="image-2"><a href="/products/lemongrass.html"><img src="images/01-4_1600x2000+fill_ffffff.webp"
          width="300px"><a href="dark-cherry"></a>
        <a href="/products/lemongrass.html" class="product-link">
          <p>Lemongrass</p>
        </a>
        <p>$ 25</p>
    </div>
    <div class="image-3"><a href="/products/fig-sandal.html"><img src="images/04-1.webp" width="300px"></a>
      <a href="/products/fig-sandal.html" class="product-link">
        <p>Fig flower & Sandal</p>
      </a>
      <p>$ 25</p>
    </div>
  </div>

</body>
<div id="footer">
  <footer>
    <p>Made with ♥ by your StaySafe team.</p>
  </footer>
</div>

</html>
